<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.MemberMapper">	
 
 	<insert id="insert_member">
 		insert into spring_member(userid,userpw,username,gender,email)
 		 values(#{userid},#{userpw},#{username},#{gender},#{email})
 	</insert>
 	<delete id="delete_member">
 		delete from spring_member where userid=#{userid}
 	</delete>
 	
 	<select id="select_id" resultType="com.spring.domain.MemberVO">
 		select * from spring_member where userid=#{userid}
 	</select>
 	
 	<select id="select_info" resultType="com.spring.domain.LoginVO">
 		select userid,userpw from spring_member where userid=#{userid} and userpw=#{current_pw}
 	</select>
 	
 	<update id="changePw1" parameterType="String">
 		update spring_member set userpw=#{new_pw} where userid=#{userid}
 	</update>
 	
 	<select id ="loginBcrypt" resultType="com.spring.domain.MemberVO">
 		select userid,userpw from spring_member where userid=#{userid}
 	
 	</select>
 	
 	
 </mapper>